.top__nav__bar{
    color: #000!important;
    background-color: #f6f6f6;
    width: 100%;
    margin:0px;
    min-height: 80px;
    display: flex;
    padding: 0px;
    z-index: 999999;
}
.wallet{ margin-right:15px; 
    margin-top: 15px!important; }
.ppnc__logo{
    width: 180px;
    margin-right: 50px;
}

.logo__text__area{
    font-size: 24px;
    font-weight: bold;
    color:#CF484A!important;
}
.top__nav__bar a {
    color: #000;
}
.nm{
    margin:0px;
    color:#000;

}
.nav__inc__val{
font-size: 20px;
font-weight: bold;
display: flex;
margin-right: 25px;
line-height: 60px;
height: 80px;
color: #fff!important;
}

.nav__inc__val div{
    margin-top: 2px;
    font-size: 22px;
    font-weight: bold;
color:#000;
    display: flex;
    justify-content: center;
}
.nav__inc__val span{
    background-color: #CF484A;
    border-radius: 5px!important;
    padding: 8px 22px!important;
    font-weight: normal;
    display: flex;
    font-size: 16px;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}


.nav__staked{
    font-size: 20px;
    display: flex;
    margin-right: 50px;
    font-weight: bold;
    color: #fff!important;
    }
    .nav__staked div{
        margin-top: 12px;
        font-size: 24px;
        margin-right: 10px;
        font-weight: bold;
    }
    .nav__staked span{
        background-color: #CF484A;
        padding: 15px;
        font-weight: normal;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        min-width: 60px;
        font-weight: bold;
    }

.nav__green__box__top{
background-color: #CF484A;
font-size: 20px;
padding:10px 10px;
text-align: center;
}
.nav__green__box__top span {
    font-weight: bold;
    color: #fff;
}
.navbar-light .navbar-text{
    color: #fff;
}

@media screen and (max-width:700px)
 {
    .nav__inc__val{
        font-size: 20px;
        font-weight: bold;
        display: flex;
        line-height: 30px;
        padding-left: 20px;
        height: 60px;
        color: #fff!important;
        }
        
        .nav__inc__val div{
            margin-top: 2px;
            font-size: 22px;
            font-weight: bold;
            color:#000;
            display: flex;
            padding:0px 15px;
            line-height: 40px;
            background-color: #ddd;
            border-radius: 5px!important;
            border:1px solid #ddd;

        }
        .nav__inc__val span{
            background-color: #CF484A;
            border-radius: 10px;
            padding: 8px 22px!important;
            font-weight: normal;
            display: flex;
            font-size: 16px;
            line-height: 30px;
            cursor: pointer;
        }
        
    .ppnc__logo{
        width: 160px;
        margin-left: 20px;
    }
    
    .nav__green__box__top{
        font-size: 14px;
        font-weight: bold;
        padding-top: 20px;
     
    }
    .mobi-margin{
        margin:0px!important;
    }
    .top__nav__bar{
        margin:0px;
        padding: 0px;
    }
    .nav__staked{
        font-size: 20px;
        display: flex;
        text-align: center;
        padding-left: 20px;
        font-weight: bold;
        color: #fff!important;
        }
        .nav__staked div{
            display: flex;
            font-size: 24px;
            font-weight: bold;
            line-height: 15px;
        }
        .nav__staked span{
            background-color: #CF484A;
            padding: 15px;
            font-weight: normal;
            border-radius: 5px;
            text-align: center;
            margin-left: 80px;
            font-size: 20px;
            min-width: 40px;
            line-height: 10px;
            font-weight: bold;
            height: 40px;
        }
        .wallet{ margin-right:15px; 
                 margin-top: 7px!important; }
        
         .navbar-text{
            margin:0px;

         }

}